{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
<title>Keep Up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" /><![endif]-->
</head>
<body>
<!-- BEGIN wrapper -->
<div id="wrapper">
  <!-- BEGIN header -->
  <div id="header">
    <div class="buffer">
      <ol>
          <li class="f"><a href="#">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="page.html">Demo Page</a></li>
          <li><a href="contact.html">Contact Page</a></li>
        </ol>
    </div>
  </div>
  <!-- END header -->
  <!-- BEGIN body -->
  <div id="body">
    <!-- BEGIN content -->
    <div id="content">
      <div class="buffer">
          <form action="add/" align="center" method="post">
              <h1>Crea tu noticia</h1> {{ status }}
              <br><br>
              {% csrf_token %}
              Título:<br>
              <input name="title">
              <br><br>
              Imagen:<br>
              <input type="file" id="img" name="img" accept="image/*">
              <br><br>
              Tema:<br>
              <input name="topic">
              <br><br>
              Descripción:<br>
              <input name="description">
              <br><br>
              Contenido:<br>
              <textarea name="content" rows="10" cols="100" placeholder="Escriba aquí la noticia"></textarea>
              <br><br>
              <input type="submit" value="Submit">
          </form>
      </div>
    </div>
    <!-- END content -->
    <div class="break"></div>
  </div>
  <!-- END body -->
  <!-- BEGIN footer -->
  <div id="footer">Copyright &copy; 2022 - Luis Alejandro Vejarano Gutierrez &middot; All Rights Reserved | Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a></div>
  <!-- END footer -->
</div>
<!-- END wrapper -->
</body>
</html>
