{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
<title>Keep Up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" /><![endif]-->
</head>
<body>
<!-- BEGIN wrapper -->
<div id="wrapper">
  <!-- BEGIN header -->
    <div id="header">
    <div class="buffer">
        <div class="buffer">
            <div style="text-align: center;"><img src="{% static 'img/icon.png' %}" alt=""/></div>
            <div class="ad">{{ msg }}</div>
        <ol>
          <li class="f"><a href="/">Inicio</a></li>
          <li><a href="create/">Crear Noticia</a></li>
        </ol>
    </div></div>
  </div>
  <!-- END header -->
  <!-- BEGIN body -->
  <div id="body">
    <!-- BEGIN content -->
    <div id="content">
      <div class="buffer">
          <form action="update/{{ new.id }}" align="center" method="post">
              <h1>Crea tu noticia</h1>
              <br><br>
              {% csrf_token %}
              Título:<br>
              <input name="title" value={{ new.title }}>
              <br><br>
              Imagen:<br>
              <input name="img" value={{ new.image }}><br><br>
              &nbsp;&nbsp;<img src="{{ new.image }}" alt="" width="200" height="200"/>
              <br><br>
              Tema:<br>
              <input name="topic" value={{ new.topic }}>
              <br><br>
              Descripción:<br>
              <input name="description" value={{ new.description }}>
              <br><br>
              Contenido:<br>
              <textarea name="content" rows="10" cols="100">{{ new.content }}</textarea>
              <br><br>
              <input type="submit" value="Submit">
          </form>
      </div>
    </div>
    <!-- END content -->
  </div>
      <div class="break"></div>
  </div>
  <!-- END body -->
  <!-- BEGIN footer -->
  <div id="footer">Copyright &copy; 2022 - Luis Alejandro Vejarano Gutierrez &middot; All Rights Reserved | Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a></div>
  <!-- END footer -->
</div>
<!-- END wrapper -->
</body>
</html>
