{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
<title>Keep Up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="https://cdn.webcat.media/-MA8vyspaN311wQyhR9Y/Logo-Icon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" /><![endif]-->
</head>
<body>
<!-- BEGIN wrapper -->
<div id="wrapper">
  <!-- BEGIN header -->
    <div id="header">
    <div class="buffer">
        <div class="buffer">
            <div style="text-align: center;"><img src="{% static 'img/icon.png' %}" alt=""/></div>
        <ol>
          <li class="f"><a href="../">Inicio</a></li>
          <li><a href="create/">Crear Noticia</a></li>
        </ol>
    </div></div>
  </div>
  <!-- END header -->
  <!-- BEGIN body -->
  <div id="body">
    <!-- BEGIN content -->
    <div id="content">
      <div class="buffer" id="offer" value={{ status }}>
        <!-- begin post -->
          {% for new in all_news %}
        <div class="post">
            <p hidden>{{ new.id }}</p>
            <h2>{{ new.title }}</h2>
            <h4>&nbsp;&nbsp;{{ new.topic }}</h4>
          <p class="date"> {{ new.date }}</p>
          &nbsp;&nbsp;<img src="{{ new.image }}" alt="" width="200" height="200"/>
          <p>{{ new.description }}</p>
          &nbsp;&nbsp;<a href="view/{{ new.id }}">Leer más</a> </div>
          {% endfor %}
        <!-- end post -->
    </div>
    <!-- END content -->
  </div>
      <div class="break"></div>
  </div>
  <!-- END body -->
  <!-- BEGIN footer -->
  <div id="footer">Copyright &copy; 2022 - Luis Alejandro Vejarano Gutierrez &middot; All Rights Reserved | Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a></div>
  <!-- END footer -->
</div>
<!-- END wrapper -->
<!--Scripts-->
<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>
